<!DOCTYPE html>
<html lang="en" th:fragment="layout (title, content)" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Поликлиника №777</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body align="center" background="/img/med.jpg">
    <header ><br><br><br><br><br><br><br><br><br>
        <div class=font-weight-bold>
        <h3 align="center">Онлайн запись ко врачу</h3>
        </div>
    </header>
    <section class="container m-top">

        <br><br>
        <div class="row">
            <div class="col-lg-5"> </div>
            <form method="get" th:action="@{/patients/personal}">
                <div class="form-group row">
                    <button type="submit" class="btn btn-secondary btn-lg">⠀⠀Авторизация⠀⠀</button>
                </div>
            </form>
            <div class="col-lg-2"> </div>
        </div>
    </section>
</body>


<footer>

</footer>
</html>