<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Взять номерок</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body background="/img/med.jpg">
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <!-- <a class="nav-item nav-link active" href="/">Главная</a>-->
            <a class="nav-item nav-link active"  href="/patients/personal">Личная страница</a>
            <a  class="nav-item nav-link active" href="/appointments/add2">Новая запись</a>
            <!--<a  class="nav-item nav-link" href="/listAppoint">Список номерков</a>-->
            <a class="nav-link text-info" sec:authorize="isAuthenticated()" href="/logout">Выйти</a>
            <!--<a  class="nav-item nav-link text-info font-weight-bold" href="/patients/add">ADMIN</a>-->
            </li>
        </div>
    </nav>
</header>
<section class="container m-top">
    <br><h4 align="center">Новая запись:</h4>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-7">
        <form  method="post" th:action="@{/appointments/add2}" th:object="${appointment}">



            <div class="form-group row">
                <label  class="col-lg-3 col-form-label">Доктор: </label>
                <select th:field="*{doctor}" class="col-lg-5" name="doctorId">
                    <option th:each="doctor : ${doctors}"
                            th:value="${doctor.id}"
                            th:utext="${doctor.toString()}">
                    </option>
                </select>
            </div>

            <div class="form-group row">
                <label for="dateAppointment" class="col-lg-3 col-form-label">Дата записи: </label>
                <input class="col-lg-5" id="dateAppointment" type="date"  required  th:field="*{dateAppointment}">
                <p th:if="${#fields.hasErrors('dateAppointment')}" th:errors="*{dateAppointment}"></p>
            </div>


            <div class="form-group row">
                <label for="timeAppointment" class="col-lg-3 col-form-label">Время записи: </label>
                <input class="col-lg-5" id="timeAppointment" type="time" th:field="*{timeAppointment}">
                <p th:if="${#fields.hasErrors('timeAppointment')}" th:errors="*{timeAppointment}"></p>
            </div>
            <br>
            <div class="form-group row">
                <div class="col-lg-2"> </div>
            <div ><input type="submit" class="btn btn-secondary" value="Добавить запись" ></div>
            </div>
        </form>
        </div>
    </div>

</section>



</body>
</html>